*,
*::before,
*::after {
    box-sizing: border-box;
}

#grid {
    width: 1000 px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 10);
    aspect-ratio: 1;
    background-color: #777777;
    border: 1px solid black;
}

.square:active {
    background-color: aqua;
    cursor: crosshair;
}


.button {
    display: none;
}